html {
    margin-left: 20%;
    margin-right: 20%;
    font-family: MotivaSansThin;
    font-size: 14px;
    background-color: black;
    color: white;
}

@font-face {
    font-family: "MotivaSansThin";
    src: url(/fonts/MotivaSansThin.woff) format("woff");
    font-display: swap;
}

.link {
    text-decoration: none;
    color: black;
}

/* Inicio de Responsive Desing */

@media (max-width: 1070px){
    html {
        margin: 1%;
        padding: ;
        font-size: 14px;
    }
    h1 {
        text-align: center;
    }
}