html {
    margin-left: 20%;
    margin-right: 20%;
    font-family: MotivaSansThin;
    font-size: 14px;
    background-color: black;
    color: white;
}

@font-face {
    font-family: "MotivaSansThin";
    src: url(../fonts/MotivaSansThin.woff) format("woff");
    font-display: swap;
}

h1 {
    text-align: left;
    font-size: 50px;
}

h3 {
    font-size: 15px;
}
/* Juegos */
.caja-juegos{
    display: flex;
    flex-wrap: wrap;
}
.juego {
    padding: 5px;
}

.img-juego {
    width: 200px;
    height: 300px;
}


.juego:hover {
    .img-juego {
        width: 250px;
        height: 350px;
    }

}

.img_resume {
    width: 500px;
}

/* Inicio de Responsive Desing */

@media (max-width: 1070px){
    html {
        margin: 1%;
        padding: ;
        font-size: 14px;
    }
    h1 {
        text-align: center;
    }
    .caja-juegos {
    display: list-item;
    }
    .img-juego {
        width: 100px;
        height: 150px;
    }
    .juego {
        display: flex;
        justify-content: left;
    }
    .info {
        padding: 3%;
    }
    .img_resume {
        width: 200px;
    }
    
}    


.link-my {
    text-decoration: none;
    color: green;
}
footer {
    text-align: center;
}

.referencia {
    text-decoration: none;
    color: black;
}