/* Fuente de la página */
@font-face {
    font-family: "Source Code Pro";
    src: url(../fonts/sourcecodepro-extralight.woff) format("woff");
}

body {
    margin: 5%;
    font-family: "Source Code Pro", monospace;
    background-color: #f6f5f1;
    color: #333;
}

header {
    text-align: center;
    border-top: 0.5px solid black;
    padding-top: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #555;
    background-color: #f0f0f0;
}

.notas {
    margin-top: 30px;
    
}

.contenedordenotas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.nota {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nota a {
    text-decoration: none;
    color: inherit;
}

.nota:hover {
    border: 1px solid burlywood;
}

footer {
    text-align: center;
    margin-top: 50px;
    border-top: 0.5px solid black;
    padding-top: 20px;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .contenedordenotas {
        flex-direction: column;
        align-items: center;
    }

    .nota {
        width: 80%;
    }
}

/* Ajuste del menú de navegación en pantallas pequeñas */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center; /* Centra los elementos */
        gap: 10px; /* Espaciado entre los enlaces */
    }

    nav ul li {
        margin: 5px 0; /* Ajusta el margen para cada elemento */
    }

    nav ul li a {
        font-size: 16px; /* Ajusta el tamaño del texto para mejorar la legibilidad */
        padding: 8px 15px; /* Incrementa ligeramente el área de clic */
    }
}
